/* section-offer */
.offer{

}
.offer-content{
    overflow: hidden;
}
.offer-item{
    width: 30%;
    float: left;
    border: 2px solid #a8a8a8;
    padding: 30px 20px 30px 50px;
    position: relative;
text-align: center;
margin-bottom: 20px;
}
.offer-item.mg{
    margin: 0 5%;
}
.offer-item .icon{
    position: absolute;
    left: 20px;
    top: 40px;
}
.offer-item-title{
    font-size: 22px;
    text-transform: capitalize;

}

.offer-item-desc{
    color: #a8a8a8;
    line-height: 1.2;
}